<form>
    <input type="text" name="username" placeholder="Username">
    <br />
    <input type="password" name="password" placeholder="**********">
    <br />
    <button type="submit">Submit</button><br />
</form>